body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes anim-btn {
    0% {
        background-color: #ffd4d4;
        transform: scale(1);
    }
    100% {
        background-color: #fe9292;
        transform: scale(1.02);
    }
}