{{define "title"}} Juegos Panamericanos Chile {{end}}

{{define "css"}}
<link rel="stylesheet" type="text/css" href="/static/css/home.css">
{{end}}
{{define "others"}} {{end}}

{{define "body"}}
<div class="container">
    <div class="logo-inicio">
        <img src="/static/img/logo-inicio.png"  alt="Juegos Panamericanos"> 
    </div>
    
    <a href="/"> Register supporter </a>
    <a href="/"> Register crafter   </a>
    <a href="/"> Supporters list    </a>
    <a href="/"> Crafters list      </a>
    <a href="/stats"> Statistics    </a>
</div>
{{end}}

{{define "js"}} {{end}}