{{define "title"}} Juegos Panamericanos Chile {{end}}

{{define "css"}}
<link rel="stylesheet" type="text/css" href="/static/css/home.css">
{{end}}
{{define "otros"}} {{end}}

{{define "body"}}
<div class="container">
    <div class="logo-inicio">
        <img src="/static/img/logo-inicio.png"  alt="Juegos Panamericanos 2023"> 
    </div>
    
    <button> Registrar hincha         </button>
    <button> Registrar artesano       </button>
    <button> Ver listado de hinchas   </button>
    <button> Ver listado de artesanos </button>
    <button> Ver Estadísticas         </button>
</div>
{{end}}

{{define "js"}} {{end}}