{{define "title"}} Juegos Panamericanos Chile {{end}}

{{define "css"}}
<link rel="stylesheet" type="text/css" href="/static/css/home.css">
{{end}}
{{define "others"}} {{end}}

{{define "body"}}
<div class="container">
    <div class="logo-inicio">
        <img src="/static/img/logo-inicio.png"  alt="Juegos Panamericanos"> 
    </div>
    
    <button> Register supporter </button>
    <button> Register crafter   </button>
    <button> Supporters list    </button>
    <button> Crafters list      </button>
    <button> Statistics         </button>
</div>
{{end}}

{{define "js"}} {{end}}